# requirements.txt

aiohttp==3.8.6
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.0
frozenlist==1.4.0
future==0.18.3
idna==3.4
loguru==0.7.2
multidict==6.0.4
numpy==1.26.0
openai==0.28.1
pycparser==2.21
PySimpleGUI==4.60.5
requests==2.31.0
SoundCard==0.4.2
soundfile==0.12.1
tkintertable==1.3.3 # -e git+https://github.com/dmnfarrell/tkintertable.git@ed935ef563603538063f24203e52d85eb8cd5e16#egg=tkintertable
tqdm==4.66.1
urllib3==2.0.6
yarl==1.9.2
